html { 
    width:100%;
    height:100%;
    padding:0em;
    margin: 0em;
    overflow-x:hidden;
    overflow-y:hidden;
}
body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
  background-color:white;
}

h1, h2 {
  display: block;
  position:relative;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}
h1 { 
  color:white;
 }
h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}
div { 
  background-color:black;
 }

.background-image { 
    width:100%;
    height:100%;
    z-index: 1; 
    padding:0em;
    margin: 0em;
    position: fixed;
 }

.container { 
    display:flex;
    width:100%;
}

.flex { 
    display:flex;
}

.fixed { 
    position:fixed;
 }

.block { 
    position: relative;
    display:block;
  }

.zlow { 
    z-index: 1000;
 }
.zmed { 
    z-index: 5000;
  }
.zhigh { 
    z-index: 9000;
   }

.card { 
    position:fixed;
    margin:0 auto;
    padding:.125em;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    box-shadow:0px 0px 9px 4px  #C1CDCD;
    border-radius:0.25em;
    z-index: 9000;
    background-color:rgba(245,245,245,0.95);
}

.flexcard { 
    position:relative;
    display:flex;
    margin:20 20;
    box-shadow:0px 0px 10px 3px lightgrey;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius:0.25em;
    z-index: 1000;
    background-color:black;
}

.cardify { 
    box-shadow:0px 0px 2px 1px  #C1CDCD;
    border-radius:0.25em;
    background-color: white;
 }

.clearcard { 
    position:absolute;
    margin:0 auto;
    padding:.125em;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    border-radius:0.25em;
    z-index: 9000;

 }


.close { 
    position:absolute;
    left:97%;
    top:-10%;
    min-height:35px;
    max-height:35px;
    min-width:35px;
    max-height:35px;
    border-radius:50%;
    background-color:black;
    color:black;
    z-index:10000;
}

.close:hover { 
    cursor:pointer;
 }


.row { 
    flex-direction:row;
    -webkit-flex-direction:row;
}
.row-reverse { 
    flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
}
.column { 
    flex-direction:column;
    -webkit-flex-direction:column;
}
.column-reverse { 
    flex-direction:column-reverse;
    -webkit-flex-direction:column-reverse;
}
.wrap { 
    flex-wrap:wrap;
}


.horizontal-center { 
    justify-content: center;
}
.horizontal-start { 
    justify-content:flex-start;
}
.horizontal-end { 
    justify-content:flex-end;
}
.horizontal-spaced { 
    justify-content:space-between;
}
.horizontal-around { 
    justify-content:space-around;
}

.vertical-center { 
    align-items:center;
}
.vertical-stretch { 
    align-items:stretch;
}
.vertical-start { 
    align-items:start;
 }
.vertical-end { 
    align-items:end;
 }




.vert-center { 
    align-self:center;
}
.vert-stretch { 
    align-self:stretch;
}
.vert-start { 
    align-self:start;
 }
 .vert-end { 
    align-self:end;
  }
.grow{ 
    flex-grow: 1;
}
.grow-more { 
    flex-grow:2;
}
.grow-more-more { 
    flex-grow:3;
}
.shrink  {
    flex-shrink:1;
}
.shrink-more { 
    flex-shrink:2;
}



.textmiddle { 
    text-align: center;
}


.right { 
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
 }

 .left { 
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
 }

 .leftleft { 
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
 }

.down { 
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
 }
 .up { 
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }


  .upup { 
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
 }

 .downdown { 
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
  }

  .fit { 
    height:auto;
    width:auto;
 }



.first { 
    order:1;
}
.second { 
    order:2;
}   
.third { 
    order:3;
}
.fourth { 
    order:4;
}
.five { 
    order:5;
}


.circle { 
    border-radius:50%;
}

.smoothedge { 
    border-radius:31.5%;
 }
 .softedge { 
    border-radius:5%;

  }


.padright { 
    padding-right:.66em;
}
.padbottom { 
    padding-bottom: .66em;
}
.padtop { 
    padding-top: .66em;
}
.padpadtop { 
    padding-top:1.22em;
 }

.padpadbottom { 
    padding-bottom: 1.22em;
 }
.padleft { 
    padding-left: .66em;
 }
.pad { 
     padding: 10px 10px 10px 10px;
 }
 .padpad { 
     padding: 20px 20px 20px 20px;
 }
.padpadpad { 
    padding:30px 30px 30px 30px; 
 }
 .padpadpadpad { 
    padding:40px 40px 40px 40px;
  }
  .padpadpadpadpad { 
    padding: 50px 50px 50px 50px;
   }

.marg { 
    margin: 10px 10px 10px 10px;
 }
 .margmarg { 
    margin: 20px 20px 20px 20px;
  }
.margmargmarg { 
    margin: 30px 30px 30px 30px;
 }
 .margmargmargmarg { 
    margin: 50px 50px 50px 50px;
  }

.white { 
    color:white;
}   
.red { 
    color:red; 
 }

.background-black { 
    background-color: black;
}

.background-white { 
    background-color:white;
}
.background-grey { 
        background-color:rgba(245,245,245,0.95);
}
